@import url('https://fonts.googleapis.com/css?family=Heebo:800|Permanent+Marker');
$chuckLink: 'https://market.enonic.com/vendors/enonic/com.enonic.app.chucknorris/_/attachment/inline/1c700535-289d-4563-883f-cb8d4ec69b6a:43f4099ef34bd5fa69c7ab886d971be70cba17db/application.svg';
$color-red: #F33535;

body {
  display: flex;
  font-family: Permanent Marker, sans-serif;
  font-size: 3.25vmax;
  justify-content: center;
  line-height: 1.5em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: justify;
}

button, p {
  padding: 0;
}

button {
  align-self: center;
  background-color: $color-red;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-family: Heebo, sans-serif;
  font-size: 75%;
  margin-top: 1em;
  outline: 0;
  transition: all .2s ease;
  text-transform: uppercase;
  width: 4em;
  height: 4em;
  &:hover {
    background-color: #000;
    color: $color-red;
  }
}

main {
  padding: 0 2%;
  width: 80vw;
  height: 100vh;
}

section {
  display: flex;
  flex-flow: column wrap;
}

#joke {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  text-align: justify;
}

.logo {
  background: url($chuckLink) no-repeat bottom;
  background-size: 33vh;
}

.rattle {
  animation: rattle .2s;
  animation-delay: 1s;
}

.slam {
  animation: slam 1s ease-in;
}

.slide-in-enter-active {
  animation: slide-in .15s ease forwards;
}

@keyframes slam {
  0% {
    transform: scale(5, 5);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    filter: blur(6px);
    opacity: 0;
    transform: translateX(-300%);
  }
  25% {
    filter: blur(3px);
    opacity: 1;
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(12%);
    filter: blur(0px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rattle
{
  0% { margin-top: 0; margin-left: 0; }
  10% { margin-top: -15px; margin-left: 0; }
  20% { margin-top: 0; margin-left: -15px; }
  30% { margin-top: 15px; margin-left: 0; }
  40% { margin-top: 0; margin-left: 15px; }
  50% { margin-top: -12px; margin-left: 0; }
  60% { margin-top: 0; margin-left: -12px; }
  70% { margin-top: 6px; margin-left: 0; }
  80% { margin-top: 0; margin-left: 6px; }
  90% { margin-top: -3px; margin-left: 0; }
  100% { margin-top: 0; margin-left: 0; }
}

@media (hover:none), (hover:on-demand) {
  button:hover {
    background-color: $color-red;
    color: #000;
  }
}
